.about-us-container {
    padding: 50px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.1);
    margin: 60px auto;
    max-width: 1200px;
  }
  
  .id-photo {
    width: auto;
    height: auto;
    border-radius: 0%;
    margin: 30px auto;
    object-fit: cover;
  }

  .id-photo-filtered {
    filter: brightness(1.2) contrast(1.1);
  }
  
  .about-us-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .about-us-text {
    font-size: 20px;
    color: #666;
    margin-bottom: 25px;
  }
  
  /* Responsive styles */
  
  @media (max-width: 768px) {
   .about-us-container {
      padding: 40px;
    }
   .id-photo {
      width: auto;
      height: auto;
    }
   .about-us-title {
      font-size: 24px;
    }
   .about-us-text {
      font-size: 18px;
    }
  }
  
  @media (max-width: 480px) {
   .about-us-container {
      padding: 20px;
    }
   .id-photo {
      width: auto;
      height: auto;
    }
   .about-us-title {
      font-size: 20px;
    }
   .about-us-text {
      font-size: 16px;
    }
  }

  @media (max-width: 768px) {
    .about-us-container {
       flex-direction: column;
     }
    .col-md-4 {
       margin-bottom: 20px;
     }
   }
   