.about-us-container {
    padding: 50px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.1);
    margin: 60px auto;
    max-width: 1200px;
  }
  
  .id-photo {
    width: auto;
    height: auto;
    border-radius: 0%;
    margin: 30px auto;
    object-fit: cover;
  }

  .id-photo-filtered {
    filter: brightness(1.2) contrast(1.1);
  }
  
  .about-us-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .about-us-text {
    font-size: 20px;
    color: #666;
    margin-bottom: 25px;
  }

  .title-container {
    text-align: center;
    margin-bottom: 20px;
}

.main-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0;
    animation: fadeInDown 1s ease-in-out;
}

.subtitle {
    font-size: 1.5rem;
    color: #6c757d;
    margin: 0;
    animation: fadeInUp 1.5s ease-in-out;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

  
  /* Responsive styles */
  
  @media (max-width: 768px) {
   .about-us-container {
      padding: 40px;
    }
   .id-photo {
      width: auto;
      height: auto;
    }
   .about-us-title {
      font-size: 24px;
    }
   .about-us-text {
      font-size: 18px;
    }
  }
  
  @media (max-width: 480px) {
   .about-us-container {
      padding: 20px;
    }
   .id-photo {
      width: auto;
      height: auto;
    }
   .about-us-title {
      font-size: 20px;
    }
   .about-us-text {
      font-size: 16px;
    }
  }

  @media (max-width: 768px) {
    .about-us-container {
       flex-direction: column;
     }
    .col-md-4 {
       margin-bottom: 20px;
     }
   }
   

   .laptop-icon {
    font-size: 3rem;
    color: #512BD4; /* Brand color */
    animation: bounceIn 1s ease-in-out;
}